In [117]:
import pandas as pd
import numpy as np

In [118]:
df = pd.read_csv('/home/artem/ПП/datasets/ds_real/svista.txt', sep="\t", header=None)

/tmp/ipykernel_15816/1169938213.py:1: DtypeWarning: Columns (1,7,8,9,10,13,16,17,18,19,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/home/artem/ПП/datasets/ds_real/svista.txt', sep="\t", header=None)

In [119]:
pd.set_option('display.max_columns', None)

In [120]:
df.head( )

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22
0,CARDID,CARD_EXPR_DATE,AMOUNT,AMOUNT_INST,DATE_TIME,MCC,TERMINAL_ID,AUTH_RESP_CODE,PDC_CARDHOLDER_PRES,PDC_CARD_PRES,PDC_CARD_CAPTURE_CAP,MERCH_COUNTRY,MERCH_POSTAL_CODE,ACQ_INSTITUTION_ID,MERCH_CITY,MERCH_ID,CVV2_PRES,AUTH_RESP_CODE_FM,PIN_PRES,OFFLINE_PIN_PRES,ECI,TRANS_TYPE,MARKED_DATE
1,AAAXXNAAFAAAA7zAAE,1910,139 730,168 556,10/5/2017 11:22:05.000000 AM,5 967,C0175001,170,5,0,0,KWT,NaN,NaN,60009704,000175001,1,NaN,0,0,-1,680,NaN
2,AAAXXNAAFAAAA70AAA,1904,999,3 636,10/21/2017 4:53:22.000000 PM,5 968,WPGTID01,0,3,0,0,LUX,NaN,NaN,LUXEMBOURG,01632643,0,NaN,0,0,-1,0,NaN
3,AAAXXNAAFAAAA71AAG,2012,17 674,64 333,12/4/2017 4:23:43.000000 AM,4 722,00000001,0,5,0,0,USA,92123,NaN,SAN DIEGO,000445205771998,0,NaN,0,0,-1,680,NaN
4,AAAXXNAACAAAHmRAAA,2210,7 430,7 430,11/24/2017 3:02:05.000000 PM,6 300,WPGTID01,0,5,0,0,GBR,NaN,NaN,STREET,41134813,1,NaN,0,0,-1,680,NaN

In [121]:
proc_df = df
for i in range(23):
    proc_df = proc_df.rename(columns={i:df[i][0]})

In [122]:
proc_df = proc_df.drop(0, axis=0)

In [123]:
proc_df.shape

(64999, 23)

In [124]:
proc_df.head()

,CARDID,CARD_EXPR_DATE,AMOUNT,AMOUNT_INST,DATE_TIME,MCC,TERMINAL_ID,AUTH_RESP_CODE,PDC_CARDHOLDER_PRES,PDC_CARD_PRES,PDC_CARD_CAPTURE_CAP,MERCH_COUNTRY,MERCH_POSTAL_CODE,ACQ_INSTITUTION_ID,MERCH_CITY,MERCH_ID,CVV2_PRES,AUTH_RESP_CODE_FM,PIN_PRES,OFFLINE_PIN_PRES,ECI,TRANS_TYPE,MARKED_DATE
1,AAAXXNAAFAAAA7zAAE,1910,139 730,168 556,10/5/2017 11:22:05.000000 AM,5 967,C0175001,170,5,0,0,KWT,NaN,NaN,60009704,000175001,1,NaN,0,0,-1,680,NaN
2,AAAXXNAAFAAAA70AAA,1904,999,3 636,10/21/2017 4:53:22.000000 PM,5 968,WPGTID01,0,3,0,0,LUX,NaN,NaN,LUXEMBOURG,01632643,0,NaN,0,0,-1,0,NaN
3,AAAXXNAAFAAAA71AAG,2012,17 674,64 333,12/4/2017 4:23:43.000000 AM,4 722,00000001,0,5,0,0,USA,92123,NaN,SAN DIEGO,000445205771998,0,NaN,0,0,-1,680,NaN
4,AAAXXNAACAAAHmRAAA,2210,7 430,7 430,11/24/2017 3:02:05.000000 PM,6 300,WPGTID01,0,5,0,0,GBR,NaN,NaN,STREET,41134813,1,NaN,0,0,-1,680,NaN
5,AAAXXNAAFAAAA72AAT,1912,170 000,204 657,11/10/2017 10:24:54.000000 AM,5 967,C0175001,0,5,0,0,KWT,NaN,NaN,60009704,000175001,1,NaN,0,0,-1,680,NaN

In [125]:
# proc_df.dtypes

In [126]:
proc_df['TRANS_TYPE'].unique()

array(['680', '0', '774', '773', '671', '736', '704', '797', '508', '700',
       '802', '757', '803', '799', '812', '777', '751', 680, 736, 774, 0,
       773, 671, 508, 802, 777, 700, 704, 805, 812, 803, 757, 698, 703,
       815, 799, 751, 806], dtype=object)

In [127]:
proc_df.shape

(64999, 23)

In [128]:
proc_df['OFFLINE_PIN_PRES'].isna().sum()

0

In [129]:
# AUTH_RESP_CODE - коды распределены довольно плотно - отбрасываем
# PDC_CARDHOLDER_PRES - коды распределены тоже неясно
# AUTH_RESP_CODE_FM - Nan - можно заменить на 0, а 0 на 1
# TRANS_TYPE - слишком много различных значений у номинативной переменной

In [130]:
proc_df['AUTH_RESP_CODE_FM'].astype({"AUTH_RESP_CODE_FM": "float64"}).value_counts()

0.0    493
Name: AUTH_RESP_CODE_FM, dtype: int64

In [131]:
# lets drop nominal variables
proc_df = proc_df.drop(['CARDID',
                        'TERMINAL_ID',
                        'MCC',
                        'TERMINAL_ID',
                        'AUTH_RESP_CODE',
                        'PDC_CARDHOLDER_PRES',
                        'MERCH_COUNTRY',
                        'MERCH_POSTAL_CODE',
                        'ACQ_INSTITUTION_ID',
                        'MERCH_CITY',
                        'MERCH_ID',
                        'OFFLINE_PIN_PRES',
                        'ECI',
                        'TRANS_TYPE'
                       ], axis=1)

In [132]:
proc_df.head()

,CARD_EXPR_DATE,AMOUNT,AMOUNT_INST,DATE_TIME,PDC_CARD_PRES,PDC_CARD_CAPTURE_CAP,CVV2_PRES,AUTH_RESP_CODE_FM,PIN_PRES,MARKED_DATE
1,1910,139 730,168 556,10/5/2017 11:22:05.000000 AM,0,0,1,NaN,0,NaN
2,1904,999,3 636,10/21/2017 4:53:22.000000 PM,0,0,0,NaN,0,NaN
3,2012,17 674,64 333,12/4/2017 4:23:43.000000 AM,0,0,0,NaN,0,NaN
4,2210,7 430,7 430,11/24/2017 3:02:05.000000 PM,0,0,1,NaN,0,NaN
5,1912,170 000,204 657,11/10/2017 10:24:54.000000 AM,0,0,1,NaN,0,NaN

In [133]:
proc_df.dtypes

CARD_EXPR_DATE          object
AMOUNT                  object
AMOUNT_INST             object
DATE_TIME               object
PDC_CARD_PRES           object
PDC_CARD_CAPTURE_CAP    object
CVV2_PRES               object
AUTH_RESP_CODE_FM       object
PIN_PRES                object
MARKED_DATE             object
dtype: object

In [134]:
proc_df.shape

(64999, 10)

In [135]:
proc_df.agg(['isna']).sum()

CARD_EXPR_DATE        isna        0
AMOUNT                isna        0
AMOUNT_INST           isna        0
DATE_TIME             isna        0
PDC_CARD_PRES         isna        0
PDC_CARD_CAPTURE_CAP  isna        0
CVV2_PRES             isna        0
AUTH_RESP_CODE_FM     isna    64506
PIN_PRES              isna        0
MARKED_DATE           isna    62632
dtype: int64

In [136]:
proc_df['MARKED_DATE'].isna()

1        True
2        True
3        True
4        True
5        True
         ...
64995    True
64996    True
64997    True
64998    True
64999    True
Name: MARKED_DATE, Length: 64999, dtype: bool

In [137]:
proc_df['AUTH_RESP_CODE_FM'][proc_df['AUTH_RESP_CODE_FM'].isna()] = 1

In [138]:
mask = proc_df['MARKED_DATE'].isna()

In [139]:
mask_inverse = (1 - mask).astype(bool)

In [140]:
proc_df['MARKED_DATE'][mask] = 0
proc_df['MARKED_DATE'][mask_inverse] = 1

In [141]:
proc_df.head()

,CARD_EXPR_DATE,AMOUNT,AMOUNT_INST,DATE_TIME,PDC_CARD_PRES,PDC_CARD_CAPTURE_CAP,CVV2_PRES,AUTH_RESP_CODE_FM,PIN_PRES,MARKED_DATE
1,1910,139 730,168 556,10/5/2017 11:22:05.000000 AM,0,0,1,1,0,0
2,1904,999,3 636,10/21/2017 4:53:22.000000 PM,0,0,0,1,0,0
3,2012,17 674,64 333,12/4/2017 4:23:43.000000 AM,0,0,0,1,0,0
4,2210,7 430,7 430,11/24/2017 3:02:05.000000 PM,0,0,1,1,0,0
5,1912,170 000,204 657,11/10/2017 10:24:54.000000 AM,0,0,1,1,0,0

In [142]:
proc_df['AMOUNT'] = proc_df['AMOUNT'].str.replace(' ', '')
proc_df['AMOUNT_INST'] = proc_df['AMOUNT_INST'].str.replace(' ', '')
proc_df['DATE_TIME'] = pd.to_datetime(proc_df['DATE_TIME'])

In [143]:
proc_df.head()

,CARD_EXPR_DATE,AMOUNT,AMOUNT_INST,DATE_TIME,PDC_CARD_PRES,PDC_CARD_CAPTURE_CAP,CVV2_PRES,AUTH_RESP_CODE_FM,PIN_PRES,MARKED_DATE
1,1910,139730,168556,2017-10-05 11:22:05,0,0,1,1,0,0
2,1904,999,3636,2017-10-21 16:53:22,0,0,0,1,0,0
3,2012,17674,64333,2017-12-04 04:23:43,0,0,0,1,0,0
4,2210,7430,7430,2017-11-24 15:02:05,0,0,1,1,0,0
5,1912,170000,204657,2017-11-10 10:24:54,0,0,1,1,0,0

In [144]:
columns = list(proc_df)

In [145]:
for i in range(10):
    if columns[i] != 'DATE_TIME':
        proc_df = proc_df.astype({columns[i]: "int64"})

In [146]:
proc_df.dtypes

CARD_EXPR_DATE                   int64
AMOUNT                           int64
AMOUNT_INST                      int64
DATE_TIME               datetime64[ns]
PDC_CARD_PRES                    int64
PDC_CARD_CAPTURE_CAP             int64
CVV2_PRES                        int64
AUTH_RESP_CODE_FM                int64
PIN_PRES                         int64
MARKED_DATE                      int64
dtype: object

In [147]:
proc_df = proc_df.sort_values('DATE_TIME')

In [148]:
proc_df.head()

,CARD_EXPR_DATE,AMOUNT,AMOUNT_INST,DATE_TIME,PDC_CARD_PRES,PDC_CARD_CAPTURE_CAP,CVV2_PRES,AUTH_RESP_CODE_FM,PIN_PRES,MARKED_DATE
55047,2012,7992,10262,2017-07-19 00:00:00,0,1,0,1,0,0
55048,2012,3282,4214,2017-07-19 00:00:00,0,1,0,1,0,0
29254,1810,100,100,2017-08-13 02:53:22,0,0,1,1,0,0
46970,1911,100,100,2017-08-13 03:11:18,0,0,1,1,0,0
46969,1911,379,104,2017-08-13 03:12:44,0,0,0,1,0,0

In [149]:
proc_df['DATE_TIME'] = proc_df['DATE_TIME'].diff().dt.seconds.div(3600, fill_value=0)

In [150]:
proc_df.head()

,CARD_EXPR_DATE,AMOUNT,AMOUNT_INST,DATE_TIME,PDC_CARD_PRES,PDC_CARD_CAPTURE_CAP,CVV2_PRES,AUTH_RESP_CODE_FM,PIN_PRES,MARKED_DATE
55047,2012,7992,10262,0.000000,0,1,0,1,0,0
55048,2012,3282,4214,0.000000,0,1,0,1,0,0
29254,1810,100,100,2.889444,0,0,1,1,0,0
46970,1911,100,100,0.298889,0,0,1,1,0,0
46969,1911,379,104,0.023889,0,0,0,1,0,0

In [151]:
proc_df['DATE_TIME'].max()

23.636388888888888

In [152]:
proc_df['CARD_EXPR_DATE']

55047    2012
55048    2012
29254    1810
46970    1911
46969    1911
         ...
5248     2211
24871    1905
10558    2208
30254    1911
679      2204
Name: CARD_EXPR_DATE, Length: 64999, dtype: int64

In [153]:
proc_df['AMOUNT'].max()

1426706600

In [154]:
proc_df['AMOUNT'] = proc_df['AMOUNT'] / 1426706600 * 10

In [155]:
# np.exp(500)

In [156]:
proc_df['AMOUNT_INST'].max()

39833837

In [157]:
proc_df['AMOUNT_INST'] = proc_df['AMOUNT_INST'] / 39833837 * 10

In [158]:
proc_df['CARD_EXPR_DATE'].max()

9912

In [159]:
proc_df['CARD_EXPR_DATE'] = proc_df['CARD_EXPR_DATE'] / 9912 * 10

In [160]:
proc_df.head()

,CARD_EXPR_DATE,AMOUNT,AMOUNT_INST,DATE_TIME,PDC_CARD_PRES,PDC_CARD_CAPTURE_CAP,CVV2_PRES,AUTH_RESP_CODE_FM,PIN_PRES,MARKED_DATE
55047,2.029863,5.601712e-05,0.002576,0.000000,0,1,0,1,0,0
55048,2.029863,2.300403e-05,0.001058,0.000000,0,1,0,1,0,0
29254,1.826069,7.009150e-07,0.000025,2.889444,0,0,1,1,0,0
46970,1.927966,7.009150e-07,0.000025,0.298889,0,0,1,1,0,0
46969,1.927966,2.656468e-06,0.000026,0.023889,0,0,0,1,0,0

In [161]:
proc_df.to_csv('processed dataset.csv', sep='\t')